.color-1 {
    color: var(--color-1);
}
.color-2 {
    color: var(--color-2);
}
.color-3 {
    color: var(--color-3);
}
.color-4 {
    color: var(--color-4);
}
.color-5 {
    color: var(--color-5);
}
.color-6 {
    color: var(--color-6);
}

.bg-color-1 {
    background: var(--color-1);
}
.bg-color-2 {
    background: var(--color-1);
}
.bg-color-3 {
    background: var(--color-1);
}
.bg-color-4 {
    background: var(--color-1);
}
.bg-color-5 {
    background: var(--color-1);
}
.bg-color-6 {
    background: var(--color-1);
}
